<div class="col-xs-12">
    <div class="container">
        <h1 class="center-block-1">Remisiones de pacientes</h1>
        <nav aria-label="...">
            <ul class="pagination" class="center-block-1">
              <li [class]="i.class" *ngFor="let i of tamanio;let j=index"><a class="page-link" (click)="activate(j)">{{j+1}}</a></li>
            </ul>
        </nav>
        <table class="table" id="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">IPS</th>
                    <th scope="col">FECHA ASIGNACIÓN</th>
                    <th scope="col">SEXO</th>
                    <th scope="col">EDAD</th>
                    <th scope="col">HORA DE SALIDA</th>
                    <th scope="col">OBJETO REMISIÓN</th>
                    <th scope="col">IMPRESIONES DIAGNÓSTICAS</th>
                </tr>
            </thead>
            <tbody *ngFor="let dataInd of data; let i=index">
                <tr>
                   <td>{{i+1}}</td>
                   <td>{{dataInd.ips}}</td>
                   <td>{{dataInd.fechaasignacionregistro|date: 'fullDate'}}</td>
                   <td>{{dataInd.sexo==='M'?'Masculino':'Femenimo'}}</td>
                   <td>{{dataInd.edad}}</td>
                   <td>{{dataInd.hora_salida}}</td>
                   <td>{{dataInd.objeto_remision}}</td>
                   <td>{{dataInd.impresiones_diagnosticas}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>